body{
    background-image: url(../img/rachel-722081-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
    color: white;
}
.quizz_cards
{
    background-size: cover;
    background-position: center;
    height: 40vh;
    text-align: center;
}
.quizz_title
{
    color : white;
}
.quizz_under-title
{
    font-style: italic;
}

.quizz_bloc
{
    background-color: RGBA(35, 45, 49, 0.64);
    margin: 0 -15px;
}
button
{
    background-color: white;
    border-radius: 5px;
}
a
{
    color: inherit;
}
#login
{
    display: flex;
    justify-content: center;
}
.field-info
{
    font-size: 0.6em;
}
.bg-white
{
    color: black;
}








